--swiftversion 6.0
--indent 4
--maxwidth 120
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen balanced
--commas inline
--semicolons never
--stripunusedargs closure-only
--self remove
--importgrouping testable-bottom
--ifdef no-indent

--enable blankLinesBetweenScopes
--enable consecutiveBlankLines
--enable duplicateImports
--enable isEmpty
--enable redundantClosure
--enable redundantFileprivate
--enable redundantGet
--enable redundantInit
--enable redundantLet
--enable redundantNilInit
--enable redundantParens
--enable redundantPattern
--enable redundantRawValues
--enable redundantReturn
--enable redundantSelf
--enable redundantType
--enable sortImports
--enable strongOutlets
--enable trailingClosures
--enable trailingSpace
--enable unusedArguments
--enable void
